<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<a href="/blog/create">Create new blog</a>
<h1>Blog</h1>
<table border="1" id="product">
    <tr>
        <th>ID</th>
        <th>Blog name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="blog : ${blogList}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td><a th:href="@{/blog/{id}/edit(id=${blog.id})}">Edit</a></td>
            <td><a th:href="@{/blog/delete/__${blog.id}__ }">Delete</a></td>
            <td><a th:href="@{/blog/view/__${blog.id}__ }">View</a></td>
        </tr>
    </th:block>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>