<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/layout :: logo"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/employee">Employee <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer">Customer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/service">Service <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contract">Contract <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="row">
    <div class="col-md-3">
        <button type="button" class="list-group-item list-group-item-action">
            <a href="/createContract" style="color: darkblue">Create Contract</a>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
            <a href="/contract" style="color: darkblue">List Contract</a>
        </button>
    </div>
    <div class="col-md-9">
        <div align="center">
            <form class="form font-weight-normal" method="post" th:action="@{/saveContract}" th:object="${contractDto}">
                <table class="table" cellpadding="5">
                    <caption>
                        <h2>Add New Contract</h2>
                    </caption>
                    <tr>
                        <th>Contract Id:</th>
                        <td>
                            <input type="text" th:field="*{contractId}" name="contractId" id="contractId" size="45"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Contract Start Date:</th>
                        <td>
                            <input type="date" th:field="*{contractStartDate}" name="contractStartDate" id="contractStartDate" size="45"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Contract End Date:</th>
                        <td>
                            <input type="date" th:field="*{contractEndDate}" name="contractEndDate" id="contractEndDate" size="45"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Contract Deposit:</th>
                        <td>
                            <input type="text" th:field="*{contractDeposit}" name="contractDeposit" id="contractDeposit" size="45"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Contract Total Money:</th>
                        <td>
                            <input type="text" th:field="*{contractTotalMoney}" name="contractTotalMoney" id="contractTotalMoney" size="45"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Employee:</th>
                        <td>
                            <select style="width: 100px" th:field="*{employee}">
                                <option th:each="c : ${employee}" th:value="${c.employeeId}"
                                        th:text="${c.employeeName}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Customer:</th>
                        <td>
                            <select style="width: 100px" th:field="*{customer}">
                                <option th:each="c : ${customerList}" th:value="${c.customerId}"
                                        th:text="${c.customerName}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Service:</th>
                        <td>
                            <select style="width: 100px" th:field="*{service}">
                                <option th:each="c : ${serviceList}" th:value="${c.serviceId}"
                                        th:text="${c.serviceName}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input class="btn btn-success" type="submit" value="Save"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div th:insert="/layout :: footer"></div>
</body>
<div th:insert="/layout :: script"></div>
</html>