<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/layout :: head"></head>
<body>
<a href="/category/create">Create new category</a>
<h1>Category</h1>
<table border="1" id="product">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="category : ${categoryList}">
        <tr>
            <td th:text="${category.id}"></td>
            <td><a th:href="@{/category/{id}/view(id=${category.id})}" th:text="${category.name}"></a></td>
            <td><a th:href="@{/category/{id}/edit(id=${category.id})}">Edit</a></td>
            <td><a th:href="@{/category/delete/__${category.id}__ }">Delete</a></td>
            <td><a th:href="@{/category/view/__${category.id}__ }">View</a></td>
        </tr>
    </th:block>
</table>
<footer th:replace="blog/layout :: footer"></footer>
</body>
</html>